
<div class="container">
    <div class="header">
        <section>
            <h3>Educational Info : - </h3>
        </section>
    </div>
    <div class="content">
        <section>
            <div class="college-name">
                <span>College Name : </span>
                <span>Roever Engineering college</span>
            </div>
            <div class="dept">
                <span>
                    Department :
                </span>
                <span>
                    Electronics and Communication Engg
                </span>
            </div>
            <div class="marks">
                <span>
                    Updatained marks (CGPA) :
                </span>
                <span>8 / 10</span>
            </div>
            <div class="passed-out">
                <span>Studied Years : </span>
                <span> Jun 2017 - Mar 2021</span>
            </div>
            <div class="college-location">
                <span>College Location : </span>
                <span>Perambalur - TN</span>
            </div>
        </section>
    </div>

</div>