<div class="container">
  <section>
    <h3>Own Project Info : - <span class="proj-name">( Authendication using Firebase)</span></h3>
  </section>
  <article>
    <span>
      <ul>
        <li>
          Implemented secure login Authentication using Firebase, enhancing user
          experience and data protection.
        </li>
        <li>
          Designed and developed a streamlined registration and login process,
          utilizing Firebase Authentication to support email/password and social
          media login options.
        </li>
        <li>
          Integrated real-time database functionality for user management and
          session handling, ensuring efficient data retrieval and storage.
        </li>
        <li>
          Employed Firebase Security Rules to safeguard user data and prevent
          unauthorized access. Conducted thorough testing to ensure reliability
          and performance across various devices.
        </li>
        <li>
          Collaborated with the development team to integrate authentication
          features seamlessly into the application, resulting in a robust and
          user-friendly authentication system
        </li>
      </ul>
    </span>
  </article>
</div>
