<div class="container">
  <section>
    <h3>Work experience : -</h3>
  </section>
  <article>
    <ul>
      <li>
        <b>3 years</b> of expertise creating and deploying <b>Angular</b> based responsive web
        applications for Airlines. Competent in using HTTP Rest full <b>API’s/JSON</b> 
        to create web services.
      </li>
      <li>
        Extensive familiarity with front-end technologies like <b>HTML, CSS, and
          Component, Directives </b>as well as web design patterns.
      </li>
      <li>
        Created templates and <b>reusable</b> parts that can be utilized again in
        different areas of the application
      </li>
      <li>
        Used decorators in accordance with project specifications to facilitate
        communication between parent, child, and grandchild components.
      </li>
      <li>
        Developed the Angular framework-based <b>dynamic</b> web applications. They
        collaborated closely with UI/UX designers to guarantee the application’s
        visual appeal and put design standards into practice.
      </li>
      <li>
        Used responsive design principles to provide a consistent user
        experience across platforms.
      </li>
      <li>
        Competent in using angular material to create an organized application.
      </li>
      <li>
        Utilized lazy loading to maximize angular material and Router to browse
        to the various sites.
      </li>
      <li>
        Capable of managing and <b>validating forms</b> data in Angular apps with
        extensive experience with <b>reactive</b> and <b>template-driven forms</b>.
      </li>
      <li>
        <b>Effects, Action, Reducer, Selector,</b> and <b>Facade</b> were used to generate the
        current status and details, together with <b>RxJs operators </b>and <b>NgRx store</b>
        management
      </li>
    </ul>
  </article>
</div>
