h3{
    color: #e51937;
}
.booking-flow,.rebooking-flow,.bag-flow{
    font-size: 20px;
    color: #e51937;
    text-decoration: underline;
}
li{
    font-size: 17px;
    padding: 2px;
}
.proj-name{
    font-size: 20px;
}