<div class="container">
  <section>
    <h3>Project details : - <span class=" proj-name">( Airline )</span></h3>
  </section>
  <article>
    <span class="booking-flow">Booking flow</span>
    <ul>
      <li>
        The booking process in the Airline Management System is designed to be
        user-friendly and efficient, allowing customers to easily search for and
        secure their desired flights. Users can input their travel details, such
        as departure and arrival locations, travel dates, and passenger
        information
      </li>
      <li>
        The system then displays available flights, including options for direct
        and connecting routes, along with seat availability
      </li>
    </ul>
    <span class="rebooking-flow">Re-booking flow</span>
    <ul>
      <li>
        Re-booking is equally straightforward. If customers need to change their
        travel plans, they can access their booking history through their user
        profiles.
      </li>

      <li>
        Users are notified of any additional fees or credits before finalizing
        the re-booking. With intuitive navigation and clear prompts, the Airline
        Management System ensures a seamless experience for both booking and
        re-booking, catering to the evolving needs of travelers.
      </li>
    </ul>
    <span class="bag-flow">Baggage info</span>
    <ul>
      <li>
        The Airline Management System provides a clear baggage policy tailored to
        enhance the travel experience. Each fare class-economy, premium, and
        business has specific limits for checked and carry-on luggage, including
        weight and size restrictions.
      </li>
      <li>
        During booking, customers can indicate their baggage needs and view any
        additional fees for extra luggage. After confirming their bookings,
        users can manage baggage preferences through their profiles, allowing
        for modifications as needed.
      </li>
    </ul>
  </article>
</div>
