<div class="container-fluid mt-4">
  <div class="container">
    <div class="col-lg-3">
      <section>
        <h4 class="available">Available view</h4>
      </section>
      <article>
        <div class="portfolio mt-3">
          <a class="about-portfolio"
            ><i class="bi bi-person-vcard"></i>Portfolio</a
          >
        </div>
        <div class="todo mt-3">
          <a class="about-todo"><i class="bi bi-check2-circle"></i>Todo</a>
        </div>
        <div class="signup-login mt-3">
          <a class="about-signup-login">
            <i class="bi bi-person-circle"></i>Signup - Login</a
          >
        </div>
      </article>
    </div>
    <div class="col-lg-3">
      <section>
        <h4 class="contact">Contact us</h4>
      </section>
      <article>
        <div class="email mt-3">
          <a
            class="contact-email"
            href="https://workspace.google.com/intl/en-US/gmail/"
            target="_blank"
            ><i class="bi bi-envelope-arrow-up"></i>ponpandiyan.s07{{
              emailId
            }}gmail.com</a
          >
        </div>
        <div class="linkedin mt-3">
          <a
            class="contact-linkedin"
            href="https://www.linkedin.com/in/ponpandiyan-subramaniyan-b73ba721a"
            target="_blank"
            ><i class="bi bi-linkedin"></i>Ponpandiyan Subramaniyan</a
          >
        </div>
        <div class="phnumber mt-3">
          <a class="contact-ph"
            ><i class="bi bi-telephone-inbound"></i>+91-637917XXXX</a
          >
        </div>
      </article>
    </div>
    <div class="col-lg-3">
      <section>
        <h4 class="tech">Used technologies</h4>
      </section>
      <article>
        <div class="angular mt-3">
          <a class="tech-angular" href="https://angular.dev/" target="_blank"
            >Angular</a
          >
        </div>
        <div class="ts-js mt-3">
          <a
            class="tech-ts-js"
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            target="_blank"
            >Typescript / Javascript</a
          >
        </div>
        <div class="html mt-3">
          <a
            class="teck-html"
            href="https://www.w3schools.com/html/"
            target="_blank"
            >HTML 5 and CSS 3</a
          >
        </div>
        <div class="github mt-3">
          <span style="text-decoration: underline; color: #e51937; cursor: pointer"
            >For code clone ?</span
          >
          <a class="code-github" href="https://github.com/" target="_blank">
            <i class="bi bi-github"></i> GitHub</a
          >
        </div>
      </article>
    </div>
    <div class="col-lg-3">
      <section>
        <h4 class="social">Social media</h4>
      </section>
      <article>
        <div class="twitter mt-3">
          <a
            class="social-twitter"
            href="https://x.com/?lang=en"
            target="_blank"
            ><i class="bi bi-envelope-at"></i>Twitter</a
          >
        </div>
        <div class="facebook mt-3">
          <a
            class="social-facebook"
            href="https://www.facebook.com/"
            target="_blank"
            ><i class="bi bi-facebook"></i>Facebook</a
          >
        </div>
        <div class="instagram mt-3">
          <a
            class="social-instagram"
            href="https://www.instagram.com/"
            target="_blank"
            ><i class="bi bi-instagram"></i>Instagram</a
          >
        </div>
      </article>
    </div>
  </div>
</div>
