@if (signupContent) {
<div class="container">
  <div class="signup-section card mt-1">
    <section>
      <span class="d-flex" style="gap: 5px">
        <i class="bi bi-person-add"></i>
        <h4><a href="">Signup </a></h4>
      </span>
    </section>
      <article >
      <p>{{signupContent[0].description}}</p>
      <h3>{{signupContent[0].header}}</h3>
      @for (Signup of signupContent[0].heading; track $index) {
        <h5>{{Signup.header}}</h5>
        <p>{{Signup.desc}}</p>
      }
      
    </article>
  </div>
</div>
}
