<div class="content">
     <section class="content-section">
        <h1>Ponpandiyan Subramaniyan</h1>
    </section>
    <section class="exp-section">
       <span>TECH :</span> <span>Angular Developer</span>-<span> 3 years in TCS</span>
    </section>
    <section class="email-section">
        <span>EMAIL ID : </span> <span>ponpandiyan.s4787{{at}}gmail.com</span>
    </section>
    <section class="ph-section">
        <span>MOBILE NUMBER :</span> <span>+91 637917XXXX</span>
    </section>
    <section class="linkedin-section">
        <span>LinkedIn : </span> <span><a href="">Ponpandiyan</a></span>
    </section>
</div>