.user-details {
  padding: 0 0 20px 0;
}
.logged-state,
.logged-firstname,
.logged-lastname,
.logged-email,
.logged-city,
.logged-address,
.logged-postalcode,
.logged-dob,
.logged-gender {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  margin: 10px 0 0 0;
  background: #e0e0e0;
}

.bi-patch-check,.verified{
  color: #308D46;
}
.bi{
  padding: 5px;
}
.left{
  width:50%
}
