<div class="card">
    <section><h2>Portfolio Pages</h2></section>
    <article>
      <ul>
        <li>
          <a (click)="onClickBasicInfo()">Basic information</a>
        </li>
        <li>
          <a (click)="onClickObjective()">Objective</a>
        </li>
        <li>
          <a (click)="onClickTechTool()">Used techtools</a>
        </li>
        <li>
          <a (click)="onClickWrkExp()">Work experience</a>
        </li>
        <li>
          <a (click)="onClickProjDetails()">Project details</a>
        </li>
        <li>
          <a (click)="onClickOwnProjDetails()">Own Project details</a>
        </li>
        <li>
          <a (click)="onClickEduDetails()">Education details</a>
        </li>
      </ul>
    </article>
  </div>