<div class="container mt-4">
  <div class="card">
    <div class="password-section">
      <section>
        <span class="section">
          <i
            class="bi bi-person-check"
            style="color: #e51937; font-size: 35px"
          ></i>

          <h5>Pasword</h5></span
        >

        <ul>
          <li>
            The password field must be filled out. It cannot be left blank.
          </li>
          <li>
            The password must meet a minimum character length (e.g., 8-12
            characters). This helps in ensuring a basic level of security.
          </li>
          <li>
            A strong password policy may require a combination of:
            <b>Uppercase letters,</b>
            <b>Lowercase letters,</b>
            <b>Numbers,</b>
            <b>Special characters (e.g., !, {{ at }}, #)</b>
          </li>
          <li>
            Some systems may check if the password is too common (e.g.,
            "password123", "qwerty", "admin123"), and prevent users from using
            these.
          </li>
          <li>
            Some forms may restrict users from including easily guessable
            personal information (e.g., name, email, username) within the
            password.
          </li>
          <!-- <li>
            It’s a good practice to provide users with a toggle to reveal/hide
            the password as they type, to avoid typos.
          </li> -->
        </ul>
      </section>
    </div>
  </div>
</div>
