.password-section{
    padding: 20px;
}
.card{
    height: 386px;
}
h5{
    text-decoration: underline;
    padding: 10px;
 }
 .section{
    display: flex;
    gap: 25px;
 }
 @media (min-width: 350px) and (max-width: 767px) {
    .card{
        height: auto;
    }
 }