<div class="container">
  <section>
    <h3>Used Tech and Tools : -</h3>
  </section>
  <article>
    <div class="tech-details">
      <div class="card">
        <section>Technologies</section>
        <article>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Javascript</li>
            <li>Bootstrap</li>
            <li>HTML 5 and CSS 3</li>
          </ul>
        </article>
      </div>
      <div class="card">
        <section>Tools</section>
        <article>
          <ul>
            
            <li>Visual studio code</li>
            <li>Postman</li>
            <li>Gitbash</li>
            <li>GitHub</li>
            <li>Figma</li>
            <li>Firebase</li>
          </ul>
        </article>
      </div>
    </div>
  </article>
</div>
