.container{
    margin: 140px 0 0 0;
}
li{
    font-size: 18px;
    padding: 30px;
}
h3{
    color: #e51937;
}
@media (min-width: 350px) and (max-width: 767px) {
    li{
        padding: 15px;
    }
}