<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid gap-4">
    <a
      class="navbar-brand"
      href="#"
      style="color: white; font-size: 30px"
      [routerLink]="'/home'"
      >Ponpandiyan Subramaniyan</a
    >
    <button
      style="color: white"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      @if(isOpen){

      <span class="" style="color: white" (click)="isOpenClicked()"
        ><i class="bi bi-border-width"></i
      ></span>
      } @if(isClose){
      <span class="" style="color: white" (click)="isCloseClicked()"
        ><i class="bi bi-x"></i
      ></span>

      }
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white"
            [routerLink]="'/portfolio'"
            >My-Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/todo'" style="color: white"
            >Todo-Page</a
          >
        </li>
        <li class="nav-item">
          @if(loggedUserName===null || loggedUserName===""){
          <a
            class="nav-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            style="color: white"
            [routerLink]="'/sign-up/log-in'"
            >Login
          </a>
          }@else {
          <a
            class="nav-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            style="color: #e51937"
            routerLink="'/home'"
            (click)="onUserLoggout()"
            ><i class="bi bi-person-circle" style="margin: 5px"></i
            >{{ loggedUserName }}</a
          >
          }
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-danger"
          type="submit"
          style="color: white"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
